.whyMe {
    position: relative;
    width: calc(100vw - var(--sidebar-w));
    height: 100vh;
    flex-shrink: 0;
}

.whyMe__headline {
    position: absolute;
    left: 56px;
    /* top: 16%; */
    top: 232px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.whyMe__headlineSvg {
    display: block;
    height: 200px;
    width: auto;
}

.whyMe__content {
    position: absolute;
    left: 240px;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    max-width: 560px;
}

.text-area__paragraph {
    top: 16%;
    transform: translateY(-50%);
    max-width: 400px;
    color: #fff;
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    font-size: large;
}

.whyMe__infoBox {
    left: 240px;
    gap: 12px;
}

.whyMe__icons {
    margin-top: 20px;
    display: flex;
    gap: 48px;
    align-items: center;
}

.whyMe__infoSvg {
  width: 80px;
  height: auto;
  display: block;
}

.whyMe__icons img {
  height: 100%;
  width: 100%;
}

.whyMe__contactBtn {
  position: absolute;
  right: 240px;
  top: 68%;     
  display: inline-block;
}

.whyMe__contactBtn img {
  height: 48px;
  width: auto;
  display: block;
}

.whyMe__contactBtn:hover img {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

.section__arrow {
    position: absolute;
    right: 32px;
    top: 90%;
    transform: translateY(-50%);
    display: inline-block;
}

.section__arrow img {
    height: 32px;
    width: auto;
    display: block;
}

.section__arrow:hover img {
    transform: translateX(6px);
    transition: transform 1.2s ease;
}

